---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}
    {% include index/featured-terms.html field="institution" title="Institutions" btn-color="info" max=40 %}
    <div class="row">
      <div class="col-md-6">
        {% include index/time.html %}
      </div>
      <div class="col-md-6">
        {% include index/objects.html %}
      </div>
    </div>

    
  
  </div>
  <div class="col-md-4">  
    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-info" max=8%}
    
    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="info" max=9 %}

    {% include index/featured-terms.html field="narrator" title="Top Subjects" btn-color="info" max=9 %}
    
    {% include index/featured-terms.html field="format-free" title="Top Formats" btn-color="info"  %}

    


    

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
</div>
